#grid {
  border: 1px solid green;
  border-collapse: collapse;
}
#grid td,
#grid th {
  border: 1px solid green;
  padding: 5px 5px;
}
#grid th {
  cursor: pointer;
}
#grid th:hover {
  background-color: yellow;
}
