.container {
  width: 100%;
  margin: 0 auto;
  color: #41474F;
}
.container .container__grid {
  width: auto;
  margin: 0 auto;
  display: table;
  border: 1px solid #D1D0C9;
  background-color: #f6f3ee;
}
.container .container__grid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.container .container__grid .container__category {
  float: left;
  padding: 10px;
  margin-bottom: -15px;
  border-right: 1px solid #D1D0C9;
  margin-right: -1px;
}
.container .container__grid .container__table {
  float: left;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -15px;
  background-color: #fefefe;
}
.container .container__grid .container__table #grid {
  border: 1px solid #D1D0C9;
  border-collapse: collapse;
}
.container .container__grid .container__table #grid thead td {
  cursor: pointer;
  background-color: #f6f3ee;
  border: 1px solid #D1D0C9;
  padding: 5px 5px;
}
.container .container__grid .container__table #grid thead td:hover {
  background-color: #A7CEC5;
}
.container .container__grid .container__table #grid tbody td {
  border: 1px solid #D1D0C9;
  padding: 5px 5px;
}
.container .container__button {
  margin: 10px auto;
  display: table;
}
.container .container__button .button-style {
  display: inline-block;
  border: 1px solid #D1D0C9;
  background-color: #f6f3ee;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.container .container__button .button-style:hover {
  background-color: #A7CEC5;
}
.hoverRow {
  background-color: #BADEC9;
}
.clickedRow {
  background-color: #CE8950;
}
